html,
body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    font-family: 'Raleway';
    background-color: antiquewhite;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-header {
    background-color: burlywood;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    width: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    margin: 0;
}

.vertical-line {
    height: 20vh;
    transform: rotate(180deg);
    border: 1px solid black;
    margin: 0;
}
.horizontal-line {
    border: 1px solid black;
}
.short-description {
    width: 25vw;
    height: fit-content;
    padding: 1em;
    text-align: justify;
    margin-left: 10em;
}
.main-menu {
    height: 100vh;
    width: 50vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 6em;
}
.menu-link {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s;
    color: #000000;
}
.menu-link:hover {
    background-image: linear-gradient(
        -225deg,
        #000000 0%,
        #55463c 29%,
        #875339 67%,
        #d2cc2a 100%
    );
    background-size: 200% auto;
    color: #000000;
    background-clip: initial;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 3s linear infinite;
    display: inline-block;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
.menu-link:visited {
    color: black;
}

/* About section */
.about-description {
    width: 35vw;
    height: 100vh;
    margin-left: 18em;
}
.about-title {
    text-transform: uppercase;
    color: #000000;
    font-size: 9.8em;
    margin: 0;
    margin-top: 1em;
}
.about-subtitle {
    color: #000000;
    font-size: 1.5em;
}
.about-main {
    text-align: justify;
    color: #000000;
    font-size: large;
}
.about-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin: 2em;
}
.about-social-icon-img {
    width: 50px;
    height: 50px;
}
.about-social-icon-img:hover {
    height: 55px;
    width: 55px;
    animation: pulse 4s infinite;
}
.profile-img {
    width: 25vw;
    height: auto;
    margin: -14em 0em 0em 10em;
    align-items: flex-start;
}

.skill-description {
    width: 35vw;
    height: 100vh;
    margin-left: 18em;
}
.skills-habilities {
    width: 42vw;
    height: 100vh;
    background-color: burlywood;
    padding: 0em 0em 0em 3em;
    margin-left: 3em;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2em;
}

.skills-content-img {
    max-width: 100px;
    max-height: auto;
}

.profile-skills-content-img:hover {
    animation: pulse 1s infinite;
}