html,
body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    margin: 0;
    font-family: 'Raleway';
}
header {
    background-color: transparent;
    width: auto;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: initial;
    flex-direction: column;

}
footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px aqua; 
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: aqua;
    width: 80vw;
    height: 6vh;
    border: 2px;
    border-radius: 12px;
    padding: 2px;
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px aqua; 
}
.profile-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilities-container {
    height: 80vh;
    width: 100vw;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.welcome-message {
    color: aliceblue;
    margin-right: 20px;
}
.welcome-name {
    background: linear-gradient(
        -225deg,
        #231557 0%, 
        #44107a 30%, 
        #ff1361 60%, 
        #fff800 120%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
    font-size: auto;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  

.profile-description {
    background-color: aquamarine;
    width: 60vw;
    text-align: justify;
    padding: 50px;
    font-size: 30px;
}

.profile-habilities {
    background-color: bisque;
    width: auto;
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
}

.profile-projects {
    background-color: brown;
    width: auto;
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
}

.profile-contact {
    background-color: blue;
    width: auto;
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
    margin-bottom: 20px;
}